{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Edit UDP2WS" %}
{% endblock %}

 
{% block extra %}{{ module.templatesAvailable()|json_encode|raw }}{% endblock %}

{% block formHtml %}
    <div class="row">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#general" role="tab" data-toggle="tab"><span>{% trans "General" %}</span></a></li>
            <li><a href="#configTab" role="tab" data-toggle="tab" data-enlarge="1"><span>{% trans "Configuration" %}</span></a></li>
            <li><a href="#appearanceTab" role="tab" data-toggle="tab"><span>{% trans "Colours" %}</span></a></li>
            <li><a href="#sizesTab" role="tab" data-toggle="tab"><span>{% trans "Sizes" %}</span></a></li>


            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    {% trans "Template" %}<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#templateTab" role="tab" data-toggle="tab"><span>{% trans "HTML" %}</span></a></li>
                    <li><a href="#cssTab" role="tab" data-toggle="tab"><span>{% trans "CSS Styles" %}</span></a></li>
                    <li><a href="#jsTab" role="tab" data-toggle="tab"><span>{% trans "JS Code" %}</span></a></li>

                </ul>
            </li>


        </ul>
        <div class="col-md-12">
            <form id="udp2wsEditForm" class="XiboForm form-horizontal" method="put" action="{{ urlFor("module.widget.edit", {id: module.widget.widgetId}) }}">
                 <div class="tab-content">
                    <div class="tab-pane active" id="general">
                        {% set title %}{% trans "Name" %}{% endset %}
                        {% set helpText %}{% trans "An optional name for this widget" %}{% endset %}
                        {{ forms.input("name", title, module.getOption("name"), helpText) }}

                        {% set title %}{% trans "Set a duration?" %}{% endset %}
                        {% set helpText %}{% trans "Select to provide a specific duration for this Widget" %}{% endset %}
                        {{ forms.checkbox("useDuration", title, module.getUseDuration(), helpText) }}

                        {% set title %}{% trans "Duration" %}{% endset %}
                        {% set helpText %}{% trans "The duration in seconds this should be displayed" %}{% endset %}
                        {{ forms.number("duration", title, module.getDuration(), helpText, "duration-fields", "required") }}

                        {% set title %}{% trans "Duration is per page" %}{% endset %}
                        {% set helpText %}{% trans "The duration specified is per page/item otherwise the widget duration is divided between the number of pages/items." %}{% endset %}
                        {{ forms.checkbox("durationIsPerPage", title, module.getOption("durationIsPerPage"), helpText) }}

                        {% set title %}{% trans "Enable Stats Collection?" %}{% endset %}
                        {% set helpText %}{% trans "Enable the collection of Proof of Play statistics for this Widget. Ensure that ‘Enable Stats Collection’ is set to ‘On’ in the Display Settings." %}{% endset %}

                        {% set offOption %}{% trans "Off" %}{% endset %}
                        {% set onOption %}{% trans "On" %}{% endset %}
                        {% set inheritOption %}{% trans "Inherit" %}{% endset %}
                        {% set options = [
                            { id: "Off", value: offOption },
                            { id: "On", value: onOption },
                            { id: "Inherit", value: inheritOption }
                        ] %}
                        {{ forms.dropdown("enableStat", "single", title, module.getOption("enableStat", theme.getSetting("WIDGET_STATS_ENABLED_DEFAULT")), options, "id", "value", helpText) }}
                    </div>






                     <div class="tab-pane" id="configTab">


                         {% set title %}{% trans "Block caption" %}{% endset %}
                         {% set helpText %}{% trans "default =  Kasse" %}{% endset %}
                         {{ forms.input("blockCaption", title ,   module.getOption("blockCaption"),  helpText ) }}

                         {% set title %}{% trans "Server URL" %}{% endset %}
                         {% set helpText %}{% trans "e.g. wss://ds.cucos.de/design/:8081" %}{% endset %}
                         {{ forms.input("serverUrl", title , module.getOption("serverUrl"),  helpText ) }}

                     </div>

					
                    <div class="tab-pane" id="appearanceTab">
                        {% set title %}{% trans "Background Colour" %}{% endset %}
                        {% set helpText %}{% trans "default = red" %}{% endset %}
                        {{ forms.input("backgroundColor", title, module.getOption("backgroundColor"), helpText, "background-color-group") }}

                        {% set title %}{% trans "Border Colour" %}{% endset %}
                        {% set helpText %}{% trans "default = white" %}{% endset %}
                        {{ forms.input("borderBackgroundColor", title, module.getOption("borderBackgroundColor"), helpText, "background-color-group") }}


						{% set title %}{% trans "Red Colour" %}{% endset %}
                        {% set helpText %}{% trans "default = red" %}{% endset %}
                        {{ forms.input("redColor", title, module.getOption("redColor"), helpText, "background-color-group") }}

						{% set title %}{% trans "Green Colour" %}{% endset %}
                        {% set helpText %}{% trans "default = green" %}{% endset %}
                        {{ forms.input("greenColor", title, module.getOption("greenColor"), helpText, "background-color-group") }}
		

						
						{% set title %}{% trans "Text Colour" %}{% endset %}
                        {% set helpText %}{% trans "default = white" %}{% endset %}
                        {{ forms.input("textColor", title, module.getOption("textColor"), helpText, "background-color-group") }}

                        {% set title %}{% trans "Text Size" %}{% endset %}
                        {% set helpText %}{% trans "default = 4rem" %}{% endset %}
                        {{ forms.input("fontSize", title, module.getOption("fontSize"), helpText, "background-color-group") }}

                        {% set title %}{% trans "Blink Colour" %}{% endset %}
                        {% set helpText %}{% trans "default = white" %}{% endset %}
                        {{ forms.input("blinkColor", title, module.getOption("blinkColor"), helpText, "background-color-group") }}

						{% set title %}{% trans "Blink Text Colour" %}{% endset %}
                        {% set helpText %}{% trans "default = black" %}{% endset %}
                        {{ forms.input("blinktextColor", title, module.getOption("blinktextColor"), helpText, "background-color-group") }}

                        {% set title %}{% trans "Blink Time" %}{% endset %}
                        {% set helpText %}{% trans "default = 1s" %}{% endset %}
                        {{ forms.input("blinkTime", title, module.getOption("blinktextColor"), helpText, "background-color-group") }}

					</div>


                     <div class="tab-pane" id="sizesTab">

                         {% set title %}{% trans "One block width" %}{% endset %}
                         {% set helpText %}{% trans "default = 24.75%" %}{% endset %}
                         {{ forms.input("blockWidth", title, module.getOption("blockWidth"),  helpText ) }}

                         {% set title %}{% trans "One block height" %}{% endset %}
                         {% set helpText %}{% trans "default = 100%" %}{% endset %}
                         {{ forms.input("blockHeight", title, module.getOption("blockHeight"),  helpText) }}

                         {% set title %}{% trans "Total width (blocks wrapper width)" %}{% endset %}
                         {% set helpText %}{% trans "default = 100%" %}{% endset %}
                         {{ forms.input("totalWidth", title, module.getOption("blockWidth"),  helpText ) }}

                         {% set title %}{% trans "Total height (blocks wrapper height)" %}{% endset %}
                         {% set helpText %}{% trans "default = 100%" %}{% endset %}
                         {{ forms.input("totalHeight", title, module.getOption("totalHeight"), helpText) }}

                         {% set title %}{% trans "One block border width" %}{% endset %}
                         {% set helpText %}{% trans "default = 0.25%" %}{% endset %}
                         {{ forms.input("borderWidth",  title, module.getOption("borderWidth"), helpText ) }}

                         {% set title %}{% trans "One block border height" %}{% endset %}
                         {% set helpText %}{% trans "default = 100%" %}{% endset %}
                         {{ forms.input("borderHeight", title, module.getOption("borderHeight"), helpText ) }}



                     </div>




					 <div class="tab-pane" id="templateTab">
                        {% set title %}{% trans "HTML" %}{% endset %}
                        {% set helpText %}{% trans "" %}{% endset %}
                         {% trans "Enter HTML in the box below." %}<br>
                         {{ forms.textarea("mainTemplate", "",  module.getRawNode("mainTemplate"), "", "", "", 10) }}
						
				    </div>

                     <div class="tab-pane" id="cssTab">
                         {% set title %}{% trans "CSS" %}{% endset %}
                         {% trans "Enter CSS in the box below." %}<br>
                         {{ forms.textarea("cssCode", "",  module.getRawNode("cssCode"), "", "", "", 10) }}

                     </div>
                     <div class="tab-pane" id="jsTab">
                         {% set title %}{% trans "JS" %}{% endset %}
                         {% trans "Enter additional JS code in the box below." %}<br>
                         {{ forms.textarea("jsCode", "",  module.getRawNode("jsCode"), "", "", "", 10) }}

                     </div>

					

					
					
                </div>
            </form>
        </div>
    </div>
{% endblock %}